.main{
    width: 60%;
    margin: 0% auto;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #EFE4C2;
    color: #357299;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
a{
    text-decoration: none;
    font-weight: 600;
    color:#357299;  
}
a:visited{
    color: #357299;
}
a:hover{
    background-color: #357299;
    color: white;
}

.header__nav{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: white;
    padding-left: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px ;
}
.nav-item-link {
    display: block;
    padding: 12px 24px;
}

.bienvenida{
/*  display: grid;
    grid-template-areas: "texto imagen";
    grid-template-columns: 50% 50%;
    gap: 50px;
    justify-content: space-between; */
    text-align: center;
    background-color: #3f7698;
    border-radius: 20px;
    color: white;
    overflow: hidden;

}

.bottom{
    margin-top: 50px;
    margin-bottom: 50px;

}
.panel-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}    

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
/*     display: flex;
    justify-content: space-around; */
}

.panel-left span{
    font-size: 30px;
    width: 100%;
}
hr{
    border:3px white solid;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
    
}
.logo-m{
    font-size: 20px;
    margin-left: 5px;
}
.panel-right{
    display: flex;
    flex-direction: column;
}
.image{
    border-radius: 20px;
    margin-left: 30px;
}    
.panel-left a{
    font-size: 20px;
    align-self: flex-start;
    text-decoration: underline;
    margin-left: 15px;
    color: white;
}

.title{
    display: flex;
    justify-content: center;
    /* margin-left: 140px; */
}
.image-grooming{
    margin-left: 50px;
    border-radius: 20px;   
}

  
.sobrenos{
    display: grid;
    grid-template-areas: "texto imagen";
    grid-template-columns: 50% 50%;
    justify-content: space-between;
  }

/* .vacaciones{
      flex-direction: column;
      margin-left: auto;
     } */

/* .fotodog{
    display: flex;
    justify-content: center;
}

section .fotodog img{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
} */

.vacaciones {
    display: grid;
    grid-template-areas: "titulo titulo titulo"
                         "texto texto"
                         "texto texto"
                         "imagen imagen";
    width: 100%;
    /* justify-content: space-between; */
    text-align: center;
    background-color: #3f7698;
    border-radius: 20px;
    color: white;
}

.grid-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

/* Le coloco animaciones al link de contacto */
.anim-index { 
    transition: .2s linear;
    

}

.anim-index:hover {
    margin-right: 17px;
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 40px white;
}

/* le coloco animaciones al h2 de Vacaciones */

.anim-vacas {
    animation: move 3s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translate(-25% -25%);
    }

    50% {
        text-shadow: 10px 10px 10px white;
    }

    100% {
        transform: (25% 25%);
    }
}

.logo-m:hover {
    transform: rotate(360deg);
    transition-duration: 1s;
}

/* le coloco una rotacion al nombre de la guarderia cuando le pasas el mouse por encima */

/* Inicio media queries */

@media screen  and (max-width: 1250px) {
    .nav-item-link {
        padding: 12px 8px;
    }
    .main {
        width: 80%;
    }    
    .panel-left span{
        font-size: 25px;
    }   
}

@media screen  and (max-width: 992px) {
    .dog1 {
        display: none;
       }
       .dog2 {
        display: none;
       }
       .grid-img {
        display: grid;
        grid-template-columns: 1fr;
       }
    .main {
        width: 100%;
    }
    .panel-left span{
        font-size: 25px;
    }   
}

@media screen and (max-width: 576px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
    }
    .encuentra {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .nav-item-link {
        padding: 12px 8px;
    }    
    .bienvenida {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 10%;
    }
    
    /* .bienvenida {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 0px;
    } */
    .panel-left span{
        font-size: 20px;
    }
    .panel-left span a {
        font-size: 20px;
    }
    .panel-left {
        display: grid;
        grid-row: 2/2;
        margin-top: 30px;
        margin-bottom: 10px;
    }
   .panel-right {
        align-items: center;
        margin-top: 10px;
        grid-row: 1/2;
   }
   header {
        justify-content: center;
        margin-left: 0px;
        margin-top: 0px;
   }
   .header__nav {
        font-size: 12px;
   }
   
   .logo {
        display: inline-block;
   }
   .image-grooming {
        width: 100%;
         margin: 0;
   }
}

.form {
    width: 40%;
}

.img-car {
    padding-right: 0;
    padding-left: 0;
}

#exampleFormControlTextarea1 {
    height: 150px;
}