@media screen  and (max-width: 1250px) {
    .nav-item-link {
        padding: 12px 8px;
    }
    .main {
        width: 80%;
    }    
    .panel-left span{
        font-size: 25px;
    }   
}

@media screen  and (max-width: 992px) {
    .dog1 {
        display: none;
       }
    .dog2 {
        display: none;
       }
    .grid-img {
        display: grid;
        grid-template-columns: 1fr;
       }
    .main {
        width: 100%;
    }
    .panel-left span{
        font-size: 25px;
    }   
}

@media screen and (max-width: 576px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
    }
    .encuentra {
        display: none;
    }
    .bienvenida {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 10%;

        & .panel-left {
            display: grid;
            grid-row: 2/2;
            margin-top: 30px;
            margin-bottom: 10px;

            & span{
                font-size: 20px;

                & a {
                    font-size: 20px;
                }
            }
        }
    }    
   header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        margin-top: 0px;

        & .logo {
            display: inline-block;
       }
   }
   .header__nav {
        font-size: 12px;

        & .nav-item-link {
            padding: 12px 8px;
        }    
   }
   .image-grooming {
        width: 100%;
         margin: 0;
   }
}
